/* .banner-circle {
    text-align: center;
    padding-top: 65px;
    color: white;
}

.banner-text {
    max-width: 550px;
    margin: 0 auto;
}

.banner-circle h1 {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.banner-circle ul {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    padding-left: 0;
}

.banner-circle ul li {
    list-style: none;
    margin: 5px 5px 0;
    position: relative;
    font-weight: 300;
}

.banner-circle ul li:not(:first-child)::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: -25px;
    background-color: red;
    border-radius: 50px;
} */

.developerMern {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skills {
    position: relative;
}

.skills img {
    width: 250px;
}

.skill-circle {
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid turquoise;
    animation: skill-circle 60s linear 0s infinite;
}


@keyframes skill-circle {
    to {
        transform: rotate(360deg);
    }
}

.icon {
    position: absolute;
    width: 35px;
    height: 35px;
    /* padding: 28px; */
    border-radius: 50%;
    border: 1px solid #ffff;
    /* background-color: #292c45; */
    transition: all ease 0.5s;
}

.icon:hover {
    border-color: #3951e8;
    background-color: #3951e8;
    box-shadow: 0 4px 94px white;
}

.icon:nth-child(1) {
    top: -20px;
    left: 41%;
}

.icon:nth-child(2) {
    top: 20px;
    right: 30px;
}

.icon:nth-child(3) {
    top: 100px;
    right: -15px;
}

.icon:nth-child(4) {
    bottom: 70px;
    right: -5px;
}

.icon:nth-child(5) {
    bottom: -0px;
    right: 21%;
}

.icon:nth-child(6) {
    bottom: -10px;
    left: 85px;
}

.icon:nth-child(7) {
    bottom: 245px;
    left: 35px;
}

.icon:nth-child(8) {
    bottom: 150px;
    left: -15px;
}

.icon:nth-child(9) {
    bottom: 65px;
    left: -5px;
}