.aboutImg::after {
    @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-600 -z-10;
  }

/* 
.aboutImg {
  position: relative;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  rotate: 12px;
  height: 100%;
  background-color: rgb(117, 14, 82);
  z-index: 10;
} */